extends layout

block append head
    script(src='js/results.js')
    
    script.
        var things = ['1','2','3'];
        var snps = !{JSON.stringify(uniqArrayOfSNPs)};
        var genotypes = !{JSON.stringify(genotypes)};
        var parseData = !{JSON.stringify(parseData)};

block content          
    .ui.middle.aligned.center.aligned.grid
      .content
        form.ui.large.form
          .ui.stacked.segment
            .ui.styled.accordion
              each val in parseData
                each obj, index in val
                    if index == 'symptom_category'  
                        each val in parseData
                            each obj, index in val
                                if index == 'symptom_category'
                                    each genotype in genotypes
                                        each snp, rs in genotype
                                            if rs == val.rs
                                                if snp == val.snp
                                                    .title
                                                        i.dropdown.icon
                                                        |  !{obj}
                                                    .content
                                                        p.transition.hidden
                                                            | #{names[genotype.id]}: !{val.text_to_display}
                                                            each id in val.pubmed_ids
                                                                a.pubmed(href="http://www.ncbi.nlm.nih.gov/pubmed/" + id) Pubmed Link  
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
//                        .title
//                            i.dropdown.icon
//                            |  !{obj}
//                        .content
//                            each genotype in genotypes
//                                each snp, rs in genotype
//                                    if rs == val.rs
//                                        if snp == val.snp
//                                            p.transition.hidden
//                                                | #{names[genotype.id]}: !{val.text_to_display}
//                                                each id in val.pubmed_ids
//                                                    a.pubmed(href="http://www.ncbi.nlm.nih.gov/pubmed/" + id) Pubmed Link  
//                                        else        
//                                            p.transition.hidden
//                                                | #{names[genotype.id]}: Your SNP:!{snp} for RS:!{rs} was not a match with database SNP:!{val.snp} value for RS:!{val.rs}