extends layout

block append head
    script(src='js/results.js')
    
    script.
        var things = ['1','2','3'];
        var snps = !{JSON.stringify(uniqArrayOfSNPs)};
        var genotypes = !{JSON.stringify(genotypes)};
        var parseData = !{JSON.stringify(parseData)};

block content          
    .ui.middle.aligned.center.aligned.grid
      .content
        form.ui.large.form
          .ui.stacked.segment
            .ui.styled.accordion
              each val in parseData
                each obj, index in val
                    if index == 'symptom_category'    
                        .title
                            i.dropdown.icon
                            |  !{obj}
                        .content
                        
                            each genotype in genotypes
                                each snp, rs in genotype
                                    if rs == val.rs
                                        if snp == val.snp
                                            p.transition.hidden
                                                | #{names[genotype.id]}: !{val.text_to_display}
                                                a.pubmed Pubmed Link  
                                        else        
                                            p.transition.hidden
                                                | #{names[genotype.id]}: Your SNP:!{snp} for RS:!{rs} was not a match with database SNP:!{val.snp} value for RS:!{val.rs}  
                
    ul
    ul
      each val in parseData
        each obj, index in val
            if index == 'symptom_category'
                li= index + ': ' + obj            
                
                
                
                
                
    
    each snp, i in uniqArrayOfSNPs
        p #{snp}
    each genotype, key in genotypes
        p <b>#{names[genotype.id]}</b> has genotype <b>!{JSON.stringify(genotype)}</b>
        p #{key} + ': ' + !{genotype}
    
    each data, i in parseData
        p !{JSON.stringify(parseData)}